Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2024-08, with the labels that each got.

#506 feat: add-library-manager-hoc-project
  frontend-cert/js-projects/library-manager/script.js
Labels: Frontend Cert, Workshops Team

#499 chore: converted survey form project into lab
  frontend-cert/html-projects/survey-form/index.html
  frontend-cert/html-projects/survey-form/user-stories.md
Labels: Frontend Cert, Labs Team

#487 feat: add functions lab
  frontend-cert/js-projects/functions/script.js
  frontend-cert/js-projects/functions/user-stories.md
Labels: Frontend Cert, Labs Team

#494 feat: add leap year calculator JS only lab
  frontend-cert/js-projects/lab-leap-year/script.js
  frontend-cert/js-projects/lab-leap-year/user-stories.md
Labels: Frontend Cert, Labs Team

#501 feat: add Real-Time Counter Lab
  frontend-cert/js-projects/lab-realtime-character-counter/index.html
  frontend-cert/js-projects/lab-realtime-character-counter/script.js
  frontend-cert/js-projects/lab-realtime-character-counter/styles.css
  frontend-cert/js-projects/lab-realtime-character-counter/user-stories.md
Labels: Frontend Cert, Labs Team

#517 feat: add favourite icon toggler lab
  frontend-cert/js-projects/lab-favourite-toggler/index.html
  frontend-cert/js-projects/lab-favourite-toggler/script.js
  frontend-cert/js-projects/lab-favourite-toggler/styles.css
  frontend-cert/js-projects/lab-favourite-toggler/user-stories.md
Labels: Frontend Cert, Labs Team

#502 feat: add factorial lab
  frontend-cert/js-projects/lab-factorial/script.js
  frontend-cert/js-projects/lab-factorial/user-stories.md
Labels: Frontend Cert, Labs Team

#489 feat: add fortune teller lab
  frontend-cert/js-projects/fortune-teller-app/script.js
  frontend-cert/js-projects/fortune-teller-app/user-stories.md
Labels: Frontend Cert, Labs Team

#490 chore: add n-th Fibonacci number lab
  frontend-cert/js-projects/nth-fibonacci-number/script.js
  frontend-cert/js-projects/nth-fibonacci-number/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#527 Fix/modify madlibs
  frontend-cert/js-projects/lab-madlibs/script.js
  frontend-cert/js-projects/lab-madlibs/user-stories.md
  frontend-cert/js-projects/lab-sentence-maker/script.js
  frontend-cert/js-projects/lab-sentence-maker/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#503 chore: add table lab project
  frontend-cert/html-projects/book-catalogue-table/index.html
  frontend-cert/html-projects/book-catalogue-table/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#480 chore: add lab project for CSS grid in frontend cert
  frontend-cert/css-projects/css-grid/index.html
  frontend-cert/css-projects/css-grid/styles.css
  frontend-cert/css-projects/css-grid/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#488 feat: add second functions lab
  frontend-cert/js-projects/second-functions/script.js
  frontend-cert/js-projects/second-functions/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#491 feat: add inventory management lab prototype
  frontend-cert/js-projects/inventory-management-app/script.js
  frontend-cert/js-projects/inventory-management-app/user-stories.md
Labels: Frontend Cert, Labs Team

#492 feat: add lunch picker lab (JS only)
  frontend-cert/js-projects/js-lunch-picker/script.js
  frontend-cert/js-projects/js-lunch-picker/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#507 chore: converted depth- first search challenge into lab
  frontend-cert/js-projects/depth-first-search/script.js
  frontend-cert/js-projects/depth-first-search/user-stories.md
Labels: Frontend Cert, Labs Team

#518 feat: add object lab (JS only)
  frontend-cert/js-projects/quiz-game/script.js
  frontend-cert/js-projects/quiz-game/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#526 feat: convert product landing page to lab
  frontend-cert/html-projects/lab-landing-page/index.html
  frontend-cert/html-projects/lab-landing-page/styles.css
  frontend-cert/html-projects/lab-landing-page/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#524 feat: convert pokemon search app to lab
  frontend-cert/js-projects/lab-pokemon/index.html
  frontend-cert/js-projects/lab-pokemon/script.js
  frontend-cert/js-projects/lab-pokemon/styles.css
  frontend-cert/js-projects/lab-pokemon/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#535 chore: covert cash register into lab
  frontend-cert/js-projects/cash-register/script.js
  frontend-cert/js-projects/cash-register/user-stories.md
Labels: Frontend Cert, Labs Team

#467 feat: add styling forms lab
  frontend-cert/css-projects/styling-forms/index.html
  frontend-cert/css-projects/styling-forms/styles.css
  frontend-cert/css-projects/styling-forms/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#500 chore: add lab for dates
  frontend-cert/js-projects/dates-lab/script.js
  frontend-cert/js-projects/dates-lab/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#525 feat: convert personal portfolio to lab
  frontend-cert/html-projects/lab-personal-portfolio/index.html
  frontend-cert/html-projects/lab-personal-portfolio/styles.css
  frontend-cert/html-projects/lab-personal-portfolio/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#533 feat: convert tribute page project to lab
  frontend-cert/css-projects/tribute-page-lab/index.html
  frontend-cert/css-projects/tribute-page-lab/styles.css
  frontend-cert/css-projects/tribute-page-lab/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#534 feat: convert technical document project to lab
  frontend-cert/css-projects/technical-document/index.html
  frontend-cert/css-projects/technical-document/styles.css
  frontend-cert/css-projects/technical-document/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#496 feat:add semantic html lab
  frontend-cert/css-projects/css-grid/index.html
  frontend-cert/css-projects/css-grid/user-stories.md
  frontend-cert/html-projects/event-page/index.html
  frontend-cert/html-projects/event-page/past-event1.jpg
  frontend-cert/html-projects/event-page/past-event2.jpg
  frontend-cert/html-projects/event-page/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#536 FAQ page for second semantic lab
  frontend-cert/html-projects/faq-page/index.html
  frontend-cert/html-projects/faq-page/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting review

#537 chore: add lab for chat bot(JS only)
  frontend-cert/js-projects/js-chat-bot/script.js
  frontend-cert/js-projects/js-chat-bot/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#522 feat: add blog post card lab
  frontend-cert/css-projects/blog-post-card/cover-photo.jpg
  frontend-cert/css-projects/blog-post-card/index.html
  frontend-cert/css-projects/blog-post-card/styles.css
  frontend-cert/css-projects/blog-post-card/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#505 feat: add regex lab
  frontend-cert/js-projects/regex-sandbox/index.html
  frontend-cert/js-projects/regex-sandbox/script.js
  frontend-cert/js-projects/regex-sandbox/styles.css
  frontend-cert/js-projects/regex-sandbox/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#542 feat: add house painting lab
  frontend-cert/css-projects/house-painting/index.html
  frontend-cert/css-projects/house-painting/styles.css
  frontend-cert/css-projects/house-painting/user-stories.md
  frontend-cert/css-projects/rainbow-paint/index.html
  frontend-cert/css-projects/rainbow-paint/styles.css
  frontend-cert/css-projects/rainbow-paint/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#523 feat: add lightbox lab
  frontend-cert/js-projects/lab-lightbox/images/stonehenge-thumbnail.jpg
  frontend-cert/js-projects/lab-lightbox/images/stonehenge.jpg
  frontend-cert/js-projects/lab-lightbox/images/storm-thumbnail.jpg
  frontend-cert/js-projects/lab-lightbox/images/storm.jpg
  frontend-cert/js-projects/lab-lightbox/images/trees-thumbnail.jpg
  frontend-cert/js-projects/lab-lightbox/images/trees.jpg
  frontend-cert/js-projects/lab-lightbox/index.html
  frontend-cert/js-projects/lab-lightbox/script.js
  frontend-cert/js-projects/lab-lightbox/styles.css
  frontend-cert/js-projects/lab-lightbox/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review
