Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2024-10, with the labels that each got.

#616 chore: recursion lab project
  frontend-cert/js-projects/lab-recursion/script.js
  frontend-cert/js-projects/lab-recursion/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#586 chore: add JS only higher order functions lab to frontend cert
  frontend-cert/js-projects/higher-order-functions/script.js
  frontend-cert/js-projects/higher-order-functions/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#626 feat: add navbar react workshop
  frontend-cert/react-projects/Navbar/index.html
  frontend-cert/react-projects/Navbar/styles.css
  frontend-cert/react-projects/test.md
Labels: Frontend Cert, Workshops Team, status: waiting review

#629 feat: add reusable card component workshop
  frontend-cert/react-projects/resuable-profile-component/index.html
  frontend-cert/react-projects/resuable-profile-component/styles.css
Labels: Frontend Cert, Workshops Team, status: waiting review

#628 feat: add functional programming workshop (recipe ingredient converter)
  frontend-cert/js-projects/recipe-converter/index.html
  frontend-cert/js-projects/recipe-converter/script.js
  frontend-cert/js-projects/recipe-converter/styles.css
Labels: Frontend Cert, Workshops Team, status: waiting review

#630 feat: functional programming lab
  frontend-cert/js-projects/functional-programming-lab/index.html
  frontend-cert/js-projects/functional-programming-lab/script.js
  frontend-cert/js-projects/functional-programming-lab/styles.css
  frontend-cert/js-projects/functional-programming-lab/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#632 feat: add reusable footer React
  frontend-cert/react-projects/reusable-footer/index.html
  frontend-cert/react-projects/reusable-footer/styles.css
  frontend-cert/react-projects/reusable-footer/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#634 feat(curriculum): add React props lab prototype
  frontend-cert/react-projects/react-props/images/grass.jpg
  frontend-cert/react-projects/react-props/images/pathway.jpg
  frontend-cert/react-projects/react-props/images/pigeon.jpg
  frontend-cert/react-projects/react-props/images/santorini.jpg
  frontend-cert/react-projects/react-props/images/ship.jpg
  frontend-cert/react-projects/react-props/images/shore.jpg
  frontend-cert/react-projects/react-props/index.html
  frontend-cert/react-projects/react-props/styles.css
  frontend-cert/react-projects/react-props/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#635 feat: add React useState lab
  frontend-cert/react-projects/react-use-state/index.html
  frontend-cert/react-projects/react-use-state/styles.css
  frontend-cert/react-projects/react-use-state/user-stories.md
Labels: full stack cert, Labs Team, status: waiting review

#627 feat: create form validation lab
  frontend-cert/js-projects/form-validation-lab/index.html
  frontend-cert/js-projects/form-validation-lab/script.js
  frontend-cert/js-projects/form-validation-lab/styles.css
  frontend-cert/js-projects/form-validation-lab/user-stories.md
Labels: full stack cert, Labs Team, status: waiting review

#641 chore: forum leaderboard lab
  frontend-cert/js-projects/forum-leaderboard/index.html
  frontend-cert/js-projects/forum-leaderboard/script.js
  frontend-cert/js-projects/forum-leaderboard/styles.css
  frontend-cert/js-projects/forum-leaderboard/user-stories.md
Labels: full stack cert, Labs Team, status: waiting review
