Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2024-07, with the labels that each got.

#379 chore: adding revised cat photo app workshop to frontend cert
  frontend-cert/html-projects/cat-photo-app/index.html
Labels: Frontend Cert

#389 chore: adding student table workshop
  frontend-cert/html-projects/student-exams-table/index.html
Labels: Frontend Cert

#387 chore: adding hotel feedback form workshop
  frontend-cert/html-projects/hotel-feedback-form/index.html
Labels: Frontend Cert

#384 chore: adding blog page workshop
  frontend-cert/html-projects/blog-page/index.html
Labels: Frontend Cert

#407 feat: add second html lab prototype
  frontend-cert/html-projects/travel-agency-page/colosseo.jpg
  frontend-cert/html-projects/travel-agency-page/favignana.jpg
  frontend-cert/html-projects/travel-agency-page/index.html
  frontend-cert/html-projects/travel-agency-page/lavaredo.jpg
  frontend-cert/html-projects/travel-agency-page/user-stories.md
Labels: Frontend Cert, Labs Team

#406 feat: add first html lab protoype
  frontend-cert/html-projects/chocolate-cookies-recipe/cookies-image.jpg
  frontend-cert/html-projects/chocolate-cookies-recipe/index.html
  frontend-cert/html-projects/chocolate-cookies-recipe/user-stories.md
Labels: Frontend Cert, Labs Team

#411 chore: adding 1st JS only workshop
  frontend-cert/js-projects/greeting-bot/script.js
Labels: Frontend Cert, Workshops Team

#415 chore: adding intro strings workshop
  frontend-cert/js-projects/js-teaching-bot/script.js
Labels: Frontend Cert, Workshops Team

#418 chore: adding guessing game workshop to frontend cert
  frontend-cert/js-projects/guessing-game/script.js
Labels: Frontend Cert, Workshops Team

#413 chore: add first CSS lab prototype
  frontend-cert/css-projects/business-card/flower.jpg
  frontend-cert/css-projects/business-card/index.html
  frontend-cert/css-projects/business-card/styles.css
  frontend-cert/css-projects/business-card/user-stories.md
Labels: Frontend Cert, Labs Team

#409 feat: add hmtl video lab
  frontend-cert/html-projects/video-compilation-page/index.html
  frontend-cert/html-projects/video-compilation-page/user-stories.md
Labels: Frontend Cert, Labs Team

#449 chore: add DOM and events workshop
  frontend-cert/js-projects/story-teller-app/index.html
  frontend-cert/js-projects/story-teller-app/script.js
  frontend-cert/js-projects/story-teller-app/styles.css
Labels: Frontend Cert, Workshops Team

#437 feat: add css attribute selectors lab prototype
  frontend-cert/css-projects/book-inventory/index.html
  frontend-cert/css-projects/book-inventory/styles.css
  frontend-cert/css-projects/book-inventory/user-stories.md
Labels: Frontend Cert, Labs Team

#453 chore: add music filter change event workshop
  frontend-cert/js-projects/music-instrument-filter/index.html
  frontend-cert/js-projects/music-instrument-filter/script.js
  frontend-cert/js-projects/music-instrument-filter/styles.css
Labels: Frontend Cert, Workshops Team

#457 feat: added objects workshop project
  frontend-cert/js-projects/student-grade-tracker/script.js
Labels: Frontend Cert, Workshops Team

#433 feat: add css colors lab
  frontend-cert/css-projects/css-colors/index.html
  frontend-cert/css-projects/css-colors/styles.css
  frontend-cert/css-projects/css-colors/user-stories.md
Labels: Frontend Cert, Labs Team

#452 fix: improve travel page
  frontend-cert/html-projects/travel-agency-page/index.html
  frontend-cert/html-projects/travel-agency-page/user-stories.md
Labels: Frontend Cert, Labs Team

#442 chore: convert random background color changer into lab
  frontend-cert/js-projects/random-bg-changer-app/index.html
  frontend-cert/js-projects/random-bg-changer-app/script.js
  frontend-cert/js-projects/random-bg-changer-app/styles.css
  frontend-cert/js-projects/random-bg-changer-app/user-stories.md
Labels: Frontend Cert, Labs Team

#440 feat: add css positioning lab
  frontend-cert/css-projects/rainbow-paint/index.html
  frontend-cert/css-projects/rainbow-paint/styles.css
  frontend-cert/css-projects/rainbow-paint/user-stories.md
Labels: Frontend Cert, Labs Team

#444 chore: convert gradebook app to lab
  frontend-cert/js-projects/gradebook-app/script.js
  frontend-cert/js-projects/gradebook-app/user-stories.md
Labels: Frontend Cert, Labs Team

#476 chore: covert hash table challenge into lab
  frontend-cert/js-projects/hash-table/script.js
  frontend-cert/js-projects/hash-table/user-stories.md
Labels: Frontend Cert, Labs Team

#477 chore: covert stack class challenge into lab
  frontend-cert/js-projects/stack-class/script.js
  frontend-cert/js-projects/stack-class/user-stories.md
Labels: Frontend Cert, Labs Team

#478 chore: convert quicksort challenge into lab
  frontend-cert/js-projects/quicksort/script.js
  frontend-cert/js-projects/quicksort/user-stories.md
Labels: Frontend Cert, Labs Team

#479 feat: add confidential email lab
  frontend-cert/css-projects/confidential-email/index.html
  frontend-cert/css-projects/confidential-email/styles.css
  frontend-cert/css-projects/confidential-email/user-stories.md
Labels: Frontend Cert, Labs Team

#435 feat: add typography lab prototype
  frontend-cert/css-projects/newspaper-article/index.html
  frontend-cert/css-projects/newspaper-article/styles.css
  frontend-cert/css-projects/newspaper-article/user-stories.md
Labels: Frontend Cert, Labs Team

#481 feat: add flexbox lab (poker hand)
  frontend-cert/css-projects/poker-hand/index.html
  frontend-cert/css-projects/poker-hand/styles.css
  frontend-cert/css-projects/poker-hand/user-stories.md
Labels: Frontend Cert, Labs Team

#483 chore: adding functions workshop
  frontend-cert/js-projects/js-only-calculator/script.js
Labels: Frontend Cert, Workshops Team

#486 feat: add loan qualification checker
  frontend-cert/js-projects/loan-qualification-checker/script.js
Labels: Frontend Cert, Workshops Team

#436 chore: add to-do list prototype
  frontend-cert/css-projects/todo-list-stylized/index.html
  frontend-cert/css-projects/todo-list-stylized/styles.css
  frontend-cert/css-projects/todo-list-stylized/user-stories.md
Labels: Frontend Cert, Labs Team

#484 chore: convert linked list challenges into lab
  frontend-cert/js-projects/linked-lists/script.js
  frontend-cert/js-projects/linked-lists/user-stories.md
Labels: Frontend Cert, Labs Team

#493 feat: adding sentence analyzer loops project
  frontend-cert/js-projects/sentence-analyzer/script.js
Labels: Frontend Cert, Workshops Team

#495 feat: add shopping list arrays workshop
  frontend-cert/js-projects/shopping-list/script.js
Labels: Frontend Cert, Workshops Team
