Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2024-09, with the labels that each got.

#541 feat: add accessibility lab prototype
  frontend-cert/html-projects/payment-page/index.html
  frontend-cert/html-projects/payment-page/spoon.jpg
  frontend-cert/html-projects/payment-page/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#539 feat: add bookmark manager lab (localStorage lab)
  frontend-cert/js-projects/bookmark-manager/index.html
  frontend-cert/js-projects/bookmark-manager/script.js
  frontend-cert/js-projects/bookmark-manager/styles.css
  frontend-cert/js-projects/bookmark-manager/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#566 feat: add event flyer lab
  frontend-cert/css-projects/event-flyer/index.html
  frontend-cert/css-projects/event-flyer/rock.jpg
  frontend-cert/css-projects/event-flyer/styles.css
  frontend-cert/css-projects/event-flyer/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#538 chore: added lab for weather app to review fetch API in frontend cert
  frontend-cert/js-projects/weather-app/index.html
  frontend-cert/js-projects/weather-app/script.js
  frontend-cert/js-projects/weather-app/styles.css
  frontend-cert/js-projects/weather-app/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#565 refactor: object lab (JS only)
  frontend-cert/js-projects/quiz-game/script.js
  frontend-cert/js-projects/quiz-game/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#584 chore: add Timestamp Microservice project to frontend cert
  node/timestamp-microservice/timestamp-microservice.md
Labels: Frontend Cert, Labs Team, awaiting update

#605 chore: adding math object workshop
  frontend-cert/js-projects/guessing-game/script.js
  frontend-cert/js-projects/math-bot/script.js
Labels: Frontend Cert, Workshops Team, status: waiting review

#569 chore: add Learn Pseudo-classes workshops
  frontend-cert/css-projects/pseudo-classes-workshop/index.html
  frontend-cert/css-projects/pseudo-classes-workshop/styles.css
Labels: Frontend Cert, Workshops Team, awaiting update

#590 chore: convert pyramid generator project into lab
  frontend-cert/js-projects/lab-pyramid-generator/script.js
  frontend-cert/js-projects/lab-pyramid-generator/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#585 feat: add second OOP lab
  frontend-cert/js-projects/second-oop/script.js
  frontend-cert/js-projects/second-oop/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#612 chore add pseudo classes lab
  frontend-cert/css-projects/pseudo-classes-lab/index.html
  frontend-cert/css-projects/pseudo-classes-lab/styles.css
  frontend-cert/css-projects/pseudo-classes-lab/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update

#613 feat: add regex lab
  frontend-cert/js-projects/markdown-parser/index.html
  frontend-cert/js-projects/markdown-parser/script.js
  frontend-cert/js-projects/markdown-parser/styles.css
  frontend-cert/js-projects/markdown-parser/user-stories.md
Labels: Frontend Cert, Labs Team, status: waiting review

#625 feat: replace student grade tracker with recipe tracker
  frontend-cert/js-projects/recipe-tracker/script.js
  frontend-cert/js-projects/student-grade-tracker/script.js
Labels: Frontend Cert, Workshops Team, awaiting update

#588 chore: add first lab for OOP in frontend cert
  frontend-cert/js-projects/first-oop-lab/script.js
  frontend-cert/js-projects/first-oop-lab/user-stories.md
Labels: Frontend Cert, Labs Team, awaiting update
