Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2025-09, with the labels that each got.

#975 feat: adding game settings checkbox workshop
  fullstack-cert/css-projects/game-settings-panel/index.html
  fullstack-cert/css-projects/game-settings-panel/styles.css
Labels: full stack cert, workshop, awaiting update

#973 feature selection for chekbox lab project
  fullstack-cert/css-projects/feature-selection/index.html
  fullstack-cert/css-projects/feature-selection/styles.css
  fullstack-cert/css-projects/feature-selection/user-stories.md
Labels: full stack cert, lab, awaiting update

#970 feat: add second flexbox workshop prototype
  fullstack-cert/css-projects/colored-boxes-layout/index.html
  fullstack-cert/css-projects/colored-boxes-layout/styles.css
Labels: full stack cert, workshop, awaiting update

#998 feat(curriculum): add python fibonacci lab
  fullstack-cert/python-projects/nth-fibonacci-number/main.py
  fullstack-cert/python-projects/nth-fibonacci-number/user-stories.md
Labels: full stack cert, lab, status: waiting review, python
