Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2025-06, with the labels that each got.

#714 chore(curriculum): user configuration manager
  fullstack-cert/python-projects/lab-confguration-manager/main.py
  fullstack-cert/python-projects/lab-confguration-manager/userstories.md
Labels: full stack cert, lab, status: waiting review, python

#744 chore: convert luhn algorithm project to lab
  fullstack-cert/python-projects/luhn-algo-lab/main.py
  fullstack-cert/python-projects/luhn-algo-lab/user-stories.md
Labels: full stack cert, lab, status: waiting review, python

#726 chore: email simulator workshop
  fullstack-cert/python-projects/email-simulator/main.py
Labels: full stack cert, workshop, status: waiting review, python

#727 feat: salary tracker workshop prototype
  fullstack-cert/python-projects/salary-tracker-workshop/main.py
Labels: full stack cert, workshop, status: waiting review, python

#787 feat : add shortest path algorithm workshop
  fullstack-cert/python-projects/shortest-path-workshop/main.py
Labels: full stack cert, workshop, awaiting update, python

#834 feat: add table accessibility workshop
  fullstack-cert/html-projects/table-accessibity-workshop/index.html
Labels: full stack cert, workshop, status: waiting review

#786 feat: updated UI for wikipedia viewer
  coding-challenges/wikipedia-viewer/index.html
  coding-challenges/wikipedia-viewer/script.js
  coding-challenges/wikipedia-viewer/styles.css
Labels: status: waiting review, coding challenges

#753 feat: updated weather app for revamped coding challenges section
  coding-challenges/weather-app/index.html
  coding-challenges/weather-app/script.js
  coding-challenges/weather-app/styles.css
Labels: status: waiting review, coding challenges

#746 chore(curriculum): game character stats lab prototype
  fullstack-cert/python-projects/game-character-stats/main.py
  fullstack-cert/python-projects/game-character-stats/user-stories.md
Labels: full stack cert, lab, status: waiting review, python

#850 feat: create iframe prototype
  fullstack-cert/html-projects/framed-videos/index.html
Labels: full stack cert, workshop
