Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2025-03, with the labels that each got.

#687 feat: add React useState Hook prototype
  fullstack-cert/react-projects/toggle-visibility/index.html
  fullstack-cert/react-projects/toggle-visibility/index.jsx
  fullstack-cert/react-projects/toggle-visibility/styles.css
Labels: full stack cert, Workshops Team, status: waiting review

#722 chore: add hash table prototype
  fullstack-cert/python-projects/hash-table-lab/main.py
  fullstack-cert/python-projects/hash-table-lab/user-stories.md
Labels: Labs Team, python

#707 feat: add movie review page for HTML accessibility lab-1
  fullstack-cert/html-projects/lab-movie-review-page/index.html
  fullstack-cert/html-projects/lab-movie-review-page/user-stories.md
Labels: full stack cert, Labs Team, status: waiting review

#709 feat: add multimedia player for HTML accessibility lab-2
  fullstack-cert/html-projects/lab-multimedia-player/index.html
  fullstack-cert/html-projects/lab-multimedia-player/user-stories.md
Labels: full stack cert, Labs Team, status: waiting review

#688 chore(curriculum): add prototype for useMemo lab
  fullstack-cert/react-projects/usememo-currency-converter/index.html
  fullstack-cert/react-projects/usememo-currency-converter/index.jsx
  fullstack-cert/react-projects/usememo-currency-converter/styles.css
  fullstack-cert/react-projects/usememo-currency-converter/userstories.md
Labels: full stack cert, Labs Team, awaiting update

#703 feat: add React useEffect Hook prototype
  fullstack-cert/react-projects/live-search/index.html
  fullstack-cert/react-projects/live-search/index.jsx
  fullstack-cert/react-projects/live-search/styles.css
Labels: full stack cert, Workshops Team, status: waiting review

#721 feat: add use memo and use callback workshop
  fullstack-cert/react-projects/search-app/index.html
  fullstack-cert/react-projects/search-app/index.jsx
  fullstack-cert/react-projects/search-app/notes.md
  fullstack-cert/react-projects/search-app/styles.css
Labels: full stack cert, Workshops Team, status: waiting review
