Repository freeCodeCamp/CurriculumExpansion, pull requests merged in 2025-04, with the labels that each got.

#725 feat: Add Python Basics Workshop
  fullstack-cert/python-projects/ceasar-cipher-workshop/main.py
Labels: full stack cert, status: waiting review, python

#724 chore: add linked list prototype
  fullstack-cert/python-projects/linked-list/main.py
Labels: full stack cert, Workshops Team, status: waiting review, python

#748 refactor: remove loop from cipher prototype
  fullstack-cert/python-projects/ceasar-cipher-workshop/main.py
Labels: full stack cert, workshop, python

#719 chore: tip calculator coding challenge prototype
  coding-challenges/tip-calculator/index.html
  coding-challenges/tip-calculator/script.js
  coding-challenges/tip-calculator/styles.css
  coding-challenges/tip-calculator/user-stories.md
Labels: status: waiting review, coding challenges

#743 chore: add quick sort Python prototype
  fullstack-cert/python-projects/quick-sort-lab/main.py
  fullstack-cert/python-projects/quick-sort-lab/user-stories.md
Labels: full stack cert, lab, status: waiting review, python

#754 feat: adding selection sort lab
  fullstack-cert/python-projects/selection-sort/main.py
  fullstack-cert/python-projects/selection-sort/user-stories.md
Labels: full stack cert, lab, status: waiting review, python
